#nav {
  box-sizing: border-box;
  .left_side {
    display: flex;
    align-items: center;
    gap: 16px;
    .menu-all {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(243, 243, 243);
    }
    .img {
      cursor: pointer;
      img {
        object-fit: contain;
        transition: 0.3s ease-in-out;
        &:hover {
          filter: opacity(0.6);
        }
      }
    }
  }
  .middle_side {
    justify-content: space-between;
    display: flex;
    align-items: center;
    ul {
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      gap: 50px;
      li {
        padding: 0px 0 55px 0;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        color: rgb(95, 95, 95);
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: 17px;
        font-weight: 600;
        p {
          font-size: 11px;
          text-align: end;
          margin: 0px;
          padding: 0px;
        }
        &:hover {
          color: rgb(0, 0, 0);
        }
      }
      #elements {
        position: relative;
        .list-hover {
          padding: 16px 15px;
          border-radius: 19px;
          box-shadow: rgba(0, 0, 0, 0.05) -4px 9px 25px -6px;
          transition: 0.6s ease-in-out;
          opacity: 0;
          transform: rotateX(90deg);
          margin: 0 50%;
          width: 1500px;
          left: -517px;
          top: 90px;
          position: absolute;
          ul {
            top: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: baseline;
            li {
              width: 100%;
              padding: 10px 4px !important;
              font-size: 15px;
              line-height: 25px;
              &:hover {
                color: rgb(255, 88, 88) !important;
                background-color: rgb(241, 241, 241);
              }
              @media (max-width: 1024px) {
                font-size: 13px;
                line-height: 20px;
              }
            }
            p {
              font-size: 16px;
              @media (max-width: 1024px) {
                font-size: 13px;
              }
            }
          }
          @media (max-width: 1400px) {
            left: -441px;
          }
          @media (max-width: 1024px) {
            left: -344px;
          }
        }
        &:hover {
          .list-hover {
            opacity: 1;
            transform: rotateX(0deg);
          }
        }
      }
      #portfolio {
        position: relative;
        .list-hover {
          border-radius: 19px;
          box-shadow: rgba(0, 0, 0, 0.05) -4px 9px 25px -6px;
          opacity: 0;
          transform: rotateX(90deg);
          transition: 0.6s ease-in-out;
          margin: 0 50%;
          width: 1500px;
          left: -642px;
          top: 90px;
          position: absolute;
          ul {
            top: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: baseline;
            li {
              width: 100%;
              padding: 10px 4px !important;
              font-size: 15px;
              line-height: 25px;
              &:hover {
                color: rgb(255, 88, 88) !important;
                background-color: rgb(241, 241, 241);
              }
              @media (max-width: 1024px) {
                font-size: 13px;
                line-height: 20px;
              }
            }
            p {
              font-size: 16px;
              @media (max-width: 1024px) {
                font-size: 13px;
              }
            }
          }
          @media (max-width: 1400px) {
            left: -570px;
          }
          @media (max-width: 1024px) {
            left: -453px;
          }
        }
        &:hover {
          .list-hover {
            opacity: 1;
            transform: rotateX(0deg);
          }
        }
      }
      #blog {
        position: relative;
        .list-hover {
          border-radius: 19px;
          box-shadow: rgba(0, 0, 0, 0.05) -4px 9px 25px -6px;
          transition: 0.6s ease-in-out;
          opacity: 0;
          transform: rotateX(90deg);
          margin: 0 50%;
          width: 1500px;
          left: -747px;
          top: 90px;
          position: absolute;
          ul {
            top: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: baseline;
            li {
              width: 100%;
              padding: 10px 4px !important;
              font-size: 15px;
              line-height: 25px;
              &:hover {
                color: rgb(255, 88, 88) !important;
                background-color: rgb(241, 241, 241);
              }
              @media (max-width: 1024px) {
                font-size: 13px;
                line-height: 20px;
              }
            }
            p {
              font-size: 16px;
              @media (max-width: 1024px) {
                font-size: 13px;
              }
            }
          }
          @media (max-width: 1400px) {
            left: -673px;
          }
          @media (max-width: 1024px) {
            left: -552px;
          }
        }
        &:hover {
          .list-hover {
            opacity: 1;
            transform: rotateX(0deg);
          }
        }
      }
      #shop {
        position: relative;
        .list-hover {
          border-radius: 19px;
          box-shadow: rgba(0, 0, 0, 0.05) -4px 9px 25px -6px;
          transition: 0.6s ease-in-out;
          opacity: 0;
          transform: rotateX(90deg);
          margin: 0 50%;
          width: 1500px;
          left: -836px;
          top: 90px;
          position: absolute;
          ul {
            top: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: baseline;
            li {
              width: 100%;
              padding: 10px 4px !important;
              font-size: 15px;
              line-height: 25px;
              &:hover {
                color: rgb(255, 88, 88) !important;
                background-color: rgb(241, 241, 241);
              }
              @media (max-width: 1024px) {
                font-size: 13px;
                line-height: 20px;
              }
            }
            p {
              font-size: 16px;
              @media (max-width: 1024px) {
                font-size: 13px;
              }
            }
          }
          @media (max-width: 1400px) {
            left: -754px;
          }
          @media (max-width: 1024px) {
            left: -642px;
          }
        }
        &:hover {
          .list-hover {
            opacity: 1;
            transform: rotateX(0deg);
          }
        }
      }
      #pages {
        position: relative;
        ul {
          border-radius: 19px;
          opacity: 0;
          transform: rotateX(90deg);
          padding: 11px 10px;
          border: 1px solid transparent;
          box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
          // opacity: 0;
          // transform: rotateX(90deg);
          transition: 0.6s ease-in-out;
          /* margin: 0 50%; */
          width: 240px;
          left: -20px;
          top: 90px;
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: baseline;
          li {
            width: 100%;
            padding: 10px 4px !important;
            font-size: 15px;
            line-height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            svg {
              font-size: 19px;
              transition: 0.4s ease-in-out;
              transform: rotate(0deg);
            }
            &:hover {
              svg {
                transform: rotate(180deg);
                color: black;
              }

              color: rgb(255, 88, 88) !important;
              background-color: rgb(241, 241, 241);
            }

            @media (max-width: 1240px) {
              line-height: 20px;
            }
            @media (max-width: 1024px) {
              font-size: 12px;
              line-height: 15px;
            }
          }
          @media (max-width: 1400px) {
            width: 222px;
            padding: 4px 8px;
          }
          @media (max-width: 1240px) {
            width: 200px;
            padding: 4px 5px;
          }
          @media (max-width: 1024px) {
            width: 161px;
          }
        }
        #hover_about {
          position: relative;
          ul {
            opacity: 0;
            transform: rotateX(90deg);
            opacity: none;
            position: absolute;
            top: 0px;
            left: 230px;
            width: 200px;
            li {
              @media (max-width: 1400px) {
                line-height: 20px;
              }
              @media (max-width: 1024px) {
                line-height: 14px;
                font-size: 11px;
              }
            }
            @media (max-width: 1400px) {
              left: 212px;
              width: 180px;
            }
            @media (max-width: 1240px) {
              left: 195px;
              width: 175px;
              padding: 4px 6px;
            }
            @media (max-width: 1024px) {
              left: 154px;
              width: 120px;
            }
          }
          &:hover {
            ul {
              opacity: 1;
              transform: rotateX(0deg);
            }
          }
        }
        &:hover {
          ul {
            opacity: 1;
            transform: rotateX(0deg);
          }
        }
      }
    }
  }
  .right_side {
    display: flex;
    align-items: center;
    justify-content: end;
    button {
      outline: none;
      border: 1px solid transparent;
      color: white;
      background-color: black;
      padding: 8px;
      width: 44%;
      border-radius: 9px;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: rgb(255, 25, 25);
      }
    }
  }
}
