#services {
  background-color: rgba(150, 144, 162, 0.06);
  margin-top: 80px;
  padding: 90px 0;
  .left_side {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 33px;
    p {
      position: relative;
      margin: 0px;
      font-weight: 600;

      &:after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 0px;
        background-color: black;
        height: 1px;
        width: 86%;
      }
    }
    h2 {
      font-size: 50px;
      font-weight: 650;
      width: 80%;
      margin: 0;
      @media (max-width: 700px) {
        font-size: 40px;
      }
      @media (max-width: 600px) {
        font-size: 33px;
      }
      @media (max-width: 420px) {
        font-size: 26px;
      }
    }
  }
  .right_side {
    p {
      position: relative;
      margin: 0px;
      font-weight: 600;

      &:after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 0px;
        background-color: black;
        height: 1px;
        width: 100%;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 650;
      width: 80%;
      margin-top: 33px;
      @media (max-width: 600px) {
        font-size: 16px;
      }
    }
  }
}
