#offer {
  .left_side {
    display: flex;
    position: relative;
    justify-content: end;
    flex-direction: column;
    height: 100%;
    margin: -128px 0 0 0;
    h2 {
      font-size: 59px;
      font-weight: 800;
    }
    span {
      font-size: 18px;
      font-weight: 500;
      width: 63%;
      margin: 15px 0;
    }
    p {
      transition: 0.2s ease-in-out;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;
      width: 63%;
      margin: 15px 0;
      padding: 5px;
      &:hover {
        color: rgb(255, 53, 53);
        background-color: rgb(243, 243, 243);
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: rgb(232, 232, 232);
      height: 765px;
      width: 1px;
    }
  }
  .img {
    margin: -128px 0 0 0;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: auto;
    img {
      width: 88%;
      object-fit: contain;
    }
    .text_area {
      position: absolute;
      bottom: 155px;
      left: 70px;
      span {
        font-size: 17px;
        margin: 0 0 20px 0;
        display: block;
        font-weight: 500;
        width: 63%;
      }
      h4 {
        font-size: 20px;
        width: 60%;
        font-weight: 700;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgb(232, 232, 232);
      height: 765px;
      width: 1px;
    }
  }
}
